<!-- Regular form, don't want to use perch forms here -->
<form id="stripeForm" action="/checkout" method="post">
    <label>
        Card details
    </label>
    <div id="card-element"></div>
    <!-- Hidden fields used to send to stripe checkout -->
    <input type="hidden" value="<perch:member id="email" escape="true" />" name="email"/>
    <input type="hidden" value="<perch:member id="first_name" escape="true" /> <perch:member id="last_name" escape="true" />" name="cardholderName"/>
        <!-- Address Fields if passed through -->
        <input type="hidden" value="<perch:member id="addressLine1" escape="true" />" name="address"/>
        <input type="hidden" value="<perch:member id="city" escape="true" />" name="city"/>
        <input type="hidden" value="<perch:member id="postcode" escape="true" />" name="postcode"/>
        <!-- ./Address Fields if passed through -->
    <input type="hidden" id="paymentMethodID" name="paymentMethodID"/>
    <!-- ./Hidden fields used to send to stripe checkout -->
    <!-- Regular button as we want to submit with JS -->
    <button type="button">Make Payment</button>
</form>

<script src="https://js.stripe.com/v3/"></script>
